<div class="nav"><h2>Feeds</h2>
<p><%= link_to "Einstellungen", listeners_path %></p> </div>
	<%#= form_for(@search) do |f| %>
	<%#= f.label :temp_tags %>
	<%#= f.text_field :temp_tags %>
	<%#= f.submit %>
	<%# end %>

  <% #for entry in FeedEntry.order('published_at desc') %>
  <%= render @feed_entries %>
  <%# end %>