<div id="contentnavi">
Einstellungen
</div>
<div id="pages_links">
<%= link_to "Folge neuer Feedseite", new_listener_path %> | 
<%= link_to "Zurück zur Liste", feed_entries_path %>
</div>
<div id="listeners">
<ul>
	<%= render @listeners %>
</ul>
</div>