<h2>Einstellungen</h2>
<h3>Liste der überwachten Seiten<h3>
<p><%= link_to "Neue Seite", new_listener_path %></p>
<p><%= link_to "Feeds Liste", feed_entries_path %></p>

<ul>
	<%= render @listeners %>
</ul>
<ul>