<div id="contentnavi">
Einstellungen
</div>
<div id="pages_links">
<%= link_to "Folge neuer Feedseite", new_listener_path %> | 
<%= link_to "Zurück zur Liste", feed_entries_path %> |
  <%= link_to 'Ändere Account Daten', edit_user_registration_path, :class => 'navbar-link' %>
</div>
<div id="listeners">
<ul>
	<%= render @listeners %>
</ul>
</div>