<h2>Feeds</h2>
	<% #= form_for(@search) do |f| %>
	<%# = f.label :tags %>
	<%#= f.text_field :tags %>
	<%#= f.submit %>
	<%# end %>

	<%# @listener.each do |listelement|%>
	<%# listelement %>
	<ul>
  <%# byebug %>
  <!-- TODO: database desc -->
  <% for entry in FeedEntry.order('published_at') %>
  <li><a href=<%= entry.url %> ><%= entry.name %></a></li> 
  <% end %>
  </ul>

<p><%= link_to "Feed Liste", listeners_path %></p>