<h2>Feeds</h2>
	<% #= form_for(@search) do |f| %>
	<%# = f.label :tags %>
	<%#= f.text_field :tags %>
	<%#= f.submit %>
	<%# end %>

	<% @listener.all.map %>
	<% #@feed.entries.each do |entry|%>
	<%= #entry.title %>
	<%= #entry.summary%> 

	<% #end%>
<p><%= link_to "Neuen Feed hinzufügen", new_newsmessage_path %></p>