/*
 *= require_tree .
 *= require_self
 */
body{
position: static;
}

main{
  background-color: orange;
  text-align: center;
}

header{
  position: static;
	border-bottom: 5px solid;
	padding-left: 3px;
  width: 100%;
  font-size: 20px;
  background-color: green;
}

#headersettings{
  position: absolute;
  right: 3%;
  top: 8%;
}

o_img{
  margin:10px; 
  width: 90px;
  heigt: 90px;
  border: 2px solid;
} 

#notice {
	border: 1px solid $gruen;
	background-color: #D8FFBB;
}
#alert {
	border: 1px solid $rot;
	color: $rot;
	background-color: #FFA894;
}

.field_with_errors {
	background-color: red;
}

#user{
	width: 60%;
	background-color: green;
	min-height: 500px;
}

div#settings{
 /* background-color: green;*/
  margin-right: 5%;
  padding: 4px;
  border: 2px solid;
  float:right;
  font-weight: 600;
  text-align: center;

  img{
    width: 60px;
    heigt: 60px;
    border: 0px;
  }
}
