// Place all the styles related to the FeedEntrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#feeds{
  background-color: brown;
  padding: 2px;
  margin: 10px;
  float:left;
  width: 90%;
}

div#comments{
  float:right;
}

p{
  clear: both;
}

div#ico{
  img{
    margin:10px; 
    width: 60px;
    heigt: 60px;
    border: 0px solid;
    position: relative;
    bottom: -40px;
    left: -140px;
    z-index: 2;
  }
}