// Place all the styles related to the FeedEntrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#feed_entries{
  display: flex;
  flex-flow: row wrap;
  align-content: space-around; 
  width: 80%;
  margin: auto;

  #single_entry{
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 3px;
    position:relative;
    border: 0.5px solid;
    text-align: left;
    vertical-align: middle;
  }

  img{
    margin:10px; 
    width: 50px;
    heigt: 50px;
    float:left;
    border: 0.2px solid;
  } 
}

div#show_comment{
  border: 1px dotted;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#entry_name{
  margin: 10px;
    
}

#details{
  position: absolute;
  bottom: 5px;
  left: 76px;
  font-weight: 600;
}

#comments{
 position: absolute;
 bottom: 5px;
 right: 5px; 
}

#ico{
  img{
    width: 50px;
    heigt: 50px;
    border: 0px solid;
    position: absolute;
    top: 30px;
    left: -25px;
    z-index: 2;
  }
}