#pages_links{
	font-weight: 600;
}

#listeners{
	img{
	  margin:10px; 
	  width: 120px;
	  heigt: 120px;
	  float:left;
	  border: 0.2px solid;
	} 	
}

ul{
	margin:10px;
	list-style-type:none;
}

li{ 
	width:600px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 0.5px solid;
	text-align: right;
	#text_title{
	font-size: 20px;
	}
}

#floatstop{
	clear: both;	
}