// Place all the styles related to the newsmessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
	background-color:blue
}

main{
	background-color:yellow
}

#rssfeed{
	background-color:green;
	width: 40%;
	margin: 10px
}
img{
	position: left;
	height: 42px;
	width: 42px
}
