body{
	
}

header{
	
}

main{
	
}

img{
	width: 120px;
	height: 100px;
}

#rssfeed{
	//background-color: green;
	marging: 10px;
	width:650px
}

#rsstext{
	//background-color: red;
	width: 500px;
	float:right;
}